body {
    background-color: #757575;
}

.grey {
    background-color: #eaeaea;
}

#container {
    width: 1024px;
    margin: 0 auto;
}

p {
    text-align: center;
    font-size: 24px;
}

header {
    margin: 0;
    padding: 10px;
    color: #757575;
}

nav {
    margin: 10px 0 10px 0;
    padding: 10px;
    color: #757575;
}

article {
    width: 300px;
    height: 200px;
    background-color: #757575;
    margin: 60px 0 0 11px;
    color:  #eaeaea;
    border: solid red;
}

.lgrey-box {
    background-color: #eaeaea;
    color: #757575;
    text-align: center;
    padding: 10px;
    margin: 10px 20px 10px 20px;
}

#sect-art {
    width: 550px;
    height: 330px;
    margin: 10px 5px 0 0;
    color: #757575;
    float: left;
}

#aside-box {
    width: 430px;
    height: 330px;
    color:  #757575;
    float: left;
    margin: 10px 0 20px 38px;
}

footer {
    margin: 10px 0 10px 0;
    padding: 10px;
    color: #757575;
    clear: both;
}